<div class="header-container">
  <div class="logo-container">
    <a
      href="#"
      class="sidebar-toggle"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true"
      (click)="toggleSidebar()"
    >
      <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
    </a>
    <img style="width: 15%; height: 15%;" src="https://media-exp1.licdn.com/dms/image/C4D0BAQGuZ4o8dAElww/company-logo_200_200/0?e=2159024400&v=beta&t=GCXlRL8_mcs8movVKl6xX-DZzsW6SfVQ3ojVu5G7Gh8">
    <a class="logo" href="#" (click)="navigateHome()">Justa-<span>Monitoring</span></a>
  </div>
</div>