<nb-card>
  <nb-card-header>
    Staging Services
  </nb-card-header>

  <nb-card-body>
    <table class="table table-bordered table-dark">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">App</th>
          <th scope="col">Status</th>
          <th scope="col">Available Pods</th>
          <th scope="col">Image Version</th>
        </tr>
      </thead>
      <tbody>
          <tr class="text-center" *ngFor="let app of apps, let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{app.name}}</td>
            <td>
              <span *ngIf="app.status == 'READY'" style="color: green;">
                <i class="far fa-dot-circle"></i>
              </span>
              <span *ngIf="app.status != 'READY'" style="color: red;">
                <i class="far fa-dot-circle"></i>
              </span>
            </td>
            <td>{{app.avPods}}</td>
            <td>{{app.imageVersion}}</td>
          </tr>

          <tr *ngIf="loading">
            <td colspan="5">
              <div class="fa-3x text-center">
                <i class="fas fa-spinner fa-pulse"></i>
              </div>
            </td>
          </tr>

      </tbody>
    </table>
  </nb-card-body>
</nb-card>